.user-form {
  height: 200px;
  width: 200px;
  background-color: lightblue;
  margin: 10px;
  padding: 10px;
  
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
}

.user-form .username,
.user-form .fullName,
.user-form .type,
.user-form .add {
  width: 100%;       
  height: 45px;      
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-form .username,
.user-form .type {
  background-color: lightskyblue;
}

.user-form .fullName,
.user-form .add {
  background-color: lightsteelblue;
}

.user-form input[type='text'],
.user-form select {
  width: 90%;
  height: 25px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
}

.user-form input[type='button'] {
  width: 90%;
  cursor: pointer;
  background-color: white;
  border: 1px solid gray;
  font-weight: bold;
}